<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">


	<bean id="quartzJob1" class="com.wuzhi.action.WuzhiController">
		<property name="userPage">
			<value>1</value>
		</property>
	</bean>
	
	<bean id="quartzJob2" class="com.wuzhi.action.WuzhiController">
		<property name="userPage">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="quartzJob3" class="com.wuzhi.action.WuzhiController">
		<property name="userPage">
			<value>3</value>
		</property>
	</bean>
	
	<bean id="quartzJob4" class="com.wuzhi.action.WuzhiController">
		<property name="userPage">
			<value>4</value>
		</property>
	</bean>

	<!-- 配置作业类 -->
	<bean id="job"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.wuzhi.action.WuzhiController" />
		</property>
		<property name="targetMethod" value="uploadUser" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>

	<!-- 配置下载用户作业类1 -->
	<bean id="job1"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<!-- <bean class="com.wuzhi.action.WuzhiController" /> -->
			<ref bean="quartzJob1" />
		</property>
		<property name="targetMethod" value="addAllDownUser" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>
	
	<!--  配置下载用户作业类2 -->
	<bean id="job2"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<!-- <bean class="com.wuzhi.action.WuzhiController" /> -->
			<ref bean="quartzJob2" />
		</property>
		<property name="targetMethod" value="addAllDownUser" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>
	
	<!--  配置下载用户作业类3 -->
	<bean id="job3"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<!-- <bean class="com.wuzhi.action.WuzhiController" /> -->
			<ref bean="quartzJob3" />
		</property>
		<property name="targetMethod" value="addAllDownUser" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>
	
	<!--  配置下载用户作业类4 -->
	<bean id="job4"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<!-- <bean class="com.wuzhi.action.WuzhiController" /> -->
			<ref bean="quartzJob4" />
		</property>
		<property name="targetMethod" value="addAllDownUser" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>

	<!-- 作业的触发方式 -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="job" />
		<!-- 每一分钟执行一次 -->
		<property name="cronExpression" value="0 0/1 * * * ?" />

	</bean>

	<!-- 作业的触发方式 -->
	<bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="job1" />
		<!-- 每一分钟执行一次 -->
		<property name="cronExpression" value="0 7,27,57 * * * ?" />

	</bean>
	
	<!-- 作业的触发方式 -->
	<bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="job2" />
		<!-- 每一分钟执行一次 -->
		<property name="cronExpression" value="0 7,27,57 * * * ?" />

	</bean>
	
	<!-- 作业的触发方式 -->
	<bean id="cronTrigger3" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="job3" />
		<!-- 每一分钟执行一次 -->
		<property name="cronExpression" value="0 7,27,57 * * * ?" />

	</bean>
	
	<!-- 作业的触发方式 -->
	<bean id="cronTrigger4" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="job4" />
		<!-- 每一分钟执行一次 -->
		<property name="cronExpression" value="0 7,27,57 * * * ?" />

	</bean>
	


	<!-- 调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
				<ref bean="cronTrigger1" />
				<ref bean="cronTrigger2" />
				<ref bean="cronTrigger3" />
				<ref bean="cronTrigger4" />
			</list>
		</property>
	</bean>
</beans>